body {
    font-family: 'Noto Sans JP', 'Sofia Sans', sans-serif;
    background: linear-gradient( rgba(229,236,235,1) 6%, rgba(229,235,233,1) 18%);
}

.header-text {
    text-align: center;
    margin-left: 30px;
    align-self: flex-start
}

.kanji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}

.kanji-text {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

.submit-btn {
    border: none;
    background: rgba(87, 71, 38, 0.377);
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    font-weight: bolder;
}

.submit-btn:hover {
    background: grey;
    cursor: pointer;
}


/* n buttons */

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 120px;
}

.n-btn {
    padding: 3px 25px 3px 25px;
    border-radius: 15px;
    background-color: white;
    text-transform: uppercase;
}

.n-btn1:hover {
    cursor: pointer;
    background-color: crimson;
    color: white;
}

.n-btn2:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: white;
}

.n-btn3:hover {
    cursor: pointer;
    background-color: brown;
    color: white;
}

.n-btn4:hover {
    cursor: pointer;
    background-color: lightseagreen;
    color: white;
}

.n-btn5:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}


/* dark */

.dark-btn {
    border: none;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    background: white;
    font-family: 'Sofia-sans', Helvetica, sans-serif;
}

.dark-btn:hover {
    cursor: pointer;
    background: goldenrod;
}


.dark {
    background: rgb(35,36,38);
    background: radial-gradient(circle, rgba(35,36,38,1) 0%, rgba(24,21,22,1) 100%);
}

.dark-input{
    background: rgb(255, 255, 255);
}

.dark-text {
    color: white;
}

.dark-header {
    color: rgb(255, 255, 255);
}


/* nav */

.nav-links {
    display: none;
    margin-left: -40px;
    transition: all 1s ease-in-out;
}

.nav-active {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 8%;
    left: 7%;
    right: 0;
    gap: 10px;
    padding: 5px;
    -background: rgba(255, 255, 255, 0.329);
    width: 30%;
    border-radius: 10px;
}


a, .nav-item {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

a:hover {
    color: navy;
}

.menu-button {
    font-size: 30px;
    cursor: pointer;
  }



 /* grammar forms  */

.form-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-left: 50px; 
}

input {
    margin: 20px;
}












