body {
    font-family: 'Noto Sans JP', 'Sofia Sans', sans-serif;
    background: linear-gradient( rgba(229,236,235,1) 6%, rgba(229,235,233,1) 18%);
}

.header-text {
    text-align: center;
    margin-left: 30px;
    margin-top: 80px;
    align-self: flex-start
}

.kanji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}

.kanji-text {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

.submit-btn {
    border: none;
    background: rgba(87, 71, 38, 0.377);
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    font-weight: bolder;
}

.submit-btn:hover {
    background: grey;
    cursor: pointer;
}

.buttons-container {
    width: 100%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
}


.n-btn {
    padding: 3px 15px 3px 15px;
    border-radius: 15px;
    background-color: rgb(221, 217, 217);
    text-transform: uppercase;
}

.n-btn1:hover {
    cursor: pointer;
    background-color: crimson;
    color: white;
}

.n-btn2:hover {
    cursor: pointer;
    background-color: brown;
    color: white;
}

.n-btn3:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: white;
}

.n-btn4:hover {
    cursor: pointer;
    background-color: lightseagreen;
    color: white;
}

.n-btn5:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
}

.kanji-text {
    height: 100px;
    width: 150px;
    text-align: center;
}

.wrong {
    height: 20px;
    width: 100px;
    padding-bottom: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.dark-btn {
    border: none;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    background: rgb(221, 217, 217);
    font-family: 'Sofia-sans', Helvetica, sans-serif;
}

.dark-btn:hover {
    cursor: pointer;
    background: goldenrod;
}


.dark {
    background: rgb(35,36,38);
    background: radial-gradient(circle, rgba(35,36,38,1) 0%, rgba(24,21,22,1) 100%);
}

.dark-input{
    background: rgb(221, 217, 217);
}

.dark-text {
    color: rgb(221, 217, 217);
}

.dark-header {
    color: rgb(221, 217, 217);
}


/* nav */

.nav-links {
    display: none;
    margin-left: -40px;
    
}

.nav-active {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 20%;
    right: 0;
    gap: 10px;
    padding: 5px;
    -background: rgba(255, 255, 255, 0.329);
    width: 75%;
    border-bottom: 1px solid rgb(167, 162, 162);
}


a, .nav-item {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
}

a:hover {
    color: goldenrod;
}

.menu-button {
    font-size: 30px;
    cursor: pointer;
  }

.show-hide-container {
    text-align: center;
    margin-top: 70px;
}

.show-hide-toggle {
    display: none;
}


@media (min-width: 700px){
    .nav-active {
        flex-direction: column;
        top: 8%;
        left: 3%;
        border-bottom: none;
        
    }
    a {
        font-weight: bold;
        font-size: 1.3rem;
    }
    .n-btn {
        font-size: 1.3rem;
    }
}